<app-header></app-header>
<!-- <p>Numeros {{ 90 + 90 }}</p> -->
<!-- <app-entrada-input></app-entrada-input> -->
<div>
  <div>
    <div>
      Nombre:
      <input placeholder="Ingrese su nombre" type="text" [(ngModel)]="nombre" />
    </div>
    <br />
    <div>
      Teléfono:
      <input
        placeholder="ingrese su telefono"
        type="number"
        [(ngModel)]="telefono"
      />
    </div>
    <br />
    <div>
      DNI:
      <input placeholder="ingrese su dni" type="number" [(ngModel)]="dni" />
    </div>
  </div>
  <br />
  <div>
    Tú nombre es: <b>{{ nombre }}</b> y tiene {{ nombre.length }} <b>letras</b>,
    esto es mágia.
  </div>
  <br />
  <div>
    Tú telefono es: <b>{{ telefono }}</b> y tiene {{ telefono.length }}
    <b>digitos</b>.
  </div>
  <br />
  <div>
    Tú dni es: <b>{{ dni }}</b>
  </div>
  <br />
  <div class="click" (click)="onClick()">Haceme click!</div>
</div>
